{% extends 'base.html' %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div{% if message.tags %} {% endif %} class="alert alert-danger">{{ message }}</div>
{% endfor %}
{% endif %}
<div class="jumbotron" style="width: 40%;text-align: center;margin: 75px auto;">
    <h1 class="display-6">Login As Client!</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="user_id">EmailID</label>
          <input type="email" name="email" class="form-control" placeholder="Enter emailid"> 
          {% comment %} {{form.user_id}} {% endcomment %}
          <small id="emailHelp" class="form-text text-muted">Use the client id & password given by Admin.</small>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control" placeholder="Enter password">
          {% comment %} {{form.password}} {% endcomment %}
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
</div>


{% if error == "no" %}
<script>
  alert('Logged In Successful');
  window.location = ('{% url 'client_dashboard' %}');
</script>
{% endif %}
{% if error == "yes" %}
<script>
  alert('Invalid Login Credentials, Try Again...');
</script> 
{% endif %}

{% endblock %}